@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,400i,500,500i,600');
@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600');

/*************************************/
body {
    height: 5000px;
    color: white;
    font-family: 'Fira Sans', sans-serif;
}

/* start navbar & header*/
header {
    background-image: url("../images/slider1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 100%;
    width: 100%;
    max-height: 100%;
}

#navbar-box {
    /* globallllllllllllllll */
    width: 95%;
    margin-left: auto;
    margin-right: auto;

}

nav {
    width: 100%;
    position: fixed;
    top: 0;
    padding-bottom: 10px;
    z-index: 99999;
    background-color: #00318d;
}

#nav-logo a {
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-size: 35px;
    font-family: 'Lobster', sans-serif;
}

#navbar-box ul {
    list-style: none;
    max-width: 100%;
}

#navbar-box ul li {
    float: none;
    display: inline-block;
}

#navbar-box ul li a {
    text-decoration: none;
    font-weight: 400i;
    cursor: pointer;
    display: block;
    color: #91aed4;
    font-size: 16px;
    padding: .75rem .44em;
    margin-top: 10px;
    transition: .1s padding;
    position: relative;
    z-index: 1;
}

#navbar-box ul li a:hover {
    color: #c8d7ea;
    background-color: #00318d;
}

#nav-2menu {
    display: flex;
    flex-direction: row-reverse;
}

#nav-2menu ul {
    padding-left: 0;
}

#nav-2menu #nav-btn {
    color: #00318d;
    padding: 16px 14px 12px;
    border-radius: 5px;
    margin: 0;
    background-color: white;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}

#nav-2menu #nav-btn:hover {
    color: #91aed4;
}

#navbar-box > div {
    height: 60px;
    margin-top: 15px;
}

#nav-button span {
    background-color: white;
    margin-left: 10px;
    font-size: 24px;
    height: 51px;
    color: #00318d;
    padding: 13px 14px 0px 14px;
    border-radius: 5px;
}

#nav-button span:hover {
    color: #91aed4;
}

/* end of navbar */
/* start of slider */
section {
    margin-top: 85px;
    padding-top: 60px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#header-left {
    margin-bottom: 40px;
    max-width: 100%;
}

#left-text h1 {
    font-family: "Montserrat", "sans-serif";
    font-weight: 600;
    text-rendering: optimizelegibility;
    line-height: 1.2;
    margin: 0 0 1em;
    color: white;
    font-size: 2.333em;
    margin-bottom: 0;
}

#left-text p {
    margin-top: 20px;
    color: #91aed4;
    letter-spacing: .5px;
    line-height: 35px;
    font-weight: 400;
}

#left-button {
    padding-top: 15px;
}

#left-button a {
    background: #58ceef;
    border: 2px solid #58ceef;
    color: #fff;
    display: inline-block;
    line-height: 1;
    outline: 0;
    padding: 15px 1.5em;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    text-shadow: none;
    text-transform: uppercase;
    transition: .2s;
    white-space: nowrap;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08);
}

#header-right {
    width: calc(500px + 4%);
    max-width: 100%;
}

#header-right img {
    margin-right: 0;
    max-width: 95%;
    margin: 0 auto;
    border: 0;
    vertical-align: bottom;
}

.main a {
    display: block;
}

.main {
    width: 100%;
    float: left;
}

.main div {
    float: left;
}

/* end of slider */
/*start logos section*/
.logos {
    width: 100%;
}

.logos img {
    max-width: 100%;
    max-height: 100%;
}

/*start logos section*/
/*------------------------responsive------------------------*/
@media (max-width:767px) {

    /* x-small screen*/
    #navbar-box {
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }

    #navbar-box,
    #nav-logo,
    #nav-2menu,
    #nav-button {
        padding: 0;
    }

    /*#nav-button span{padding-bottom: 12px;}*/
    #nav--btn {
        margin-top: 2px;
    }

    #header-left #left-text {
        text-align: center;
    }

    #left-button {
        text-align: center;
    }

    #header-right {
        float: none;
        margin: 0 auto;
    }
}

@media (min-width:768px) and (max-width:991px) {

    /* small screen*/
    #header-right {
        float: none;
        margin: 0 auto;
    }

    #left-button,
    #left-text {
        text-align: center;
    }
}

@media (min-width:768px) and (max-width:1199px) {

    /* medium screen and small screen*/
    #nav-2menu {
        display: flex;
        flex-direction: row-reverse;
        padding-right: 0;
    }

    #nav-2menu #nav-btn {
        margin-left: 10px;
    }
}

@media (min-width:1200px) {

    /* large screen and greater
    .right-ull ul:before {
        content: '';
        display: block;
        width: .8px;
        position: absolute;
        top: 14%;
        bottom: 14%;
        left: 0;
        background: #91aed4;*/
}
}

